body {
  text-align: center;
}
#wrapper {
  margin: 0 auto;
}
.shape {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  background: #cccccc;
}
.shape-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: arial, helvetica, sans-serif;
  font-size: 2em;
}
